/* General */
* {
	box-sizing: border-box;
}

.row::after {
	content: "";
	clear: both;
	display: block;
}

/* Header */
header {
	background-color: #00b903;
	padding: 15px 15px 15px 15px;
}

/* Content */
body {
	background-color: #eeeeee;
}

#credit {
	float: left;
	display: inline;
	margin: auto;
}

#credit p {
	display: inline;
	float: left;
	margin: 15px;
}

#credit img {
	display: block;
	float: left;
	margin: 15px;
}

/* Footer */

/* Mobile Only */
[class*="col-"] {
	width: 100%;
}

/* Header */
.dropdown {
	position: relative;
	display: inline-block;
	float:left;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #00b903;
	z-index: 1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

header {
	float:left;
}

header img {
	width: 0%;
}

header h1 {
	text-align: center;
}

#nav {
	position: static;
}

#nav:before {
	content: '\2630';
}

#nav ul li {
	list-style: none;
}
	
#nav ul li a {
	display: block;
	color: #000000;
	text-decoration: none;
	padding: 0 10px;
	text-align: center;
}
	
#nav ul li a:hover {
	background-color: #007500;
}

/* Content */
#mainvideo {
	display: block;
	margin: auto;
	width: 100%;
	height: 75%;
}

/* Footer */

@media only screen and (min-width: 789px) {
	/* Desktop Only */
	/* Header */
	header {
		clear: left;
	}
	
	header img{
		width: 100%;
	}
	
	#nav {
		position: absolute;
		right: 15;
		top: 40;
		height: 60px;
	}
	
	#nav:before {
		content: '';
	}
	
	#nav ul li {
		float: left;
		list-style: none;
	}
	
	#nav ul li a {
		display: block;
		color: #000000;
		text-decoration: none;
		padding: 0 10px;
	}
	
	#nav ul li a:hover {
		background-color: #007500;
	}
	
	/* Content */
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

	[class*="col-"] {
		float: left;
		padding: 10px;
	}
	
	#mainvideo {
		display: block;
		margin: auto;
		width: 55%;
		height: 60%;
	}
	
	/* Footer */
	
}