* {
	box-sizing: border-box;
}

.row::after {
	content: "";
	clear: both;
	display: block;
}

body {
	background-color: #eeeeee;
}

#credit {
	float: left;
	display: inline;
	margin: auto;
}

#credit p {
	display: inline;
	float: left;
	margin: 15px;
}

#credit img {
	display: block;
	float: left;
	margin: 15px;
}

header {
	background-color: #00b903;
	padding: 15px 15px 15px 15px;
}

/*Mobile Only*/
[class*="col-"] {
	width: 100%;
}

#mainvideo {
	display: block;
	margin: auto;
	width: 100%;
	height: 75%;
}

@media only screen and (min-width: 789px) {
	/*Desktop Only*/
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

	[class*="col-"] {
		float: left;
		padding: 10px;
	}
	
	#mainvideo {
		display: block;
		margin: auto;
		width: 55%;
		height: 60%;
	}
	
	#nav {
		position: absolute;
		right: 15;
		top: 40;
		height: 60px;
	}
	
	#nav ul li {
		float: left;
		list-style: none;
	}
	
	#nav ul li a {
		display: block;
		color: white;
		text-decoration: none;
		padding: 0 10px;
	}
	
	#nav ul li a:hover {
		background-color: #007500;
	}
}